
.fond {
	background-image: url("mac.jpg");
	width: 100%;
    background-size: cover; 
    color: white;
   	margin-bottom: 0;
}

.header {
	margin-top: 5em;
	margin-left: 7em;
	line-height: 30px;
	letter-spacing: 1px;

}

.bkg-blue {
	margin-top: 0;
	background-color: rgb(70, 154, 224);
	color: white;
	text-align: center;
	margin-bottom: 0;
}

.icon
{	margin-top: 80px;
	color: white;
	font-size: 80px;
}

p {
	padding-top: 50px;
}

.bkg-white {
	margin-top: 0;
	background-color: white;
	height: 400px;
	margin-bottom: 0;
	text-align: center;

}
